<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="bg">
            {{ include "components/nav.vto" }}
            {{ content }}
        </div>
    </body>
    <style>
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100vw;

            background: url("/assets/bg.webp");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .bg {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.76);
            backdrop-filter: blur(15px);
        }
    </style>
</html>
